.App {
  text-align: center;
  background:url(./img/body_bg.gif);
  font-family: 'roboto',Arial, Helvetica, sans-serif;
}

img:hover {
  text-transform: scale(1.2);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  background: url(./img/body_bg.gif) !important;
}
.header {
  background: url(./img/header-bg.jpg);
}
.search-bar {
  width: 400px !important;
}
.filter-bar {
  font-weight: 900;
  justify-content: space-around;
}

#basic-nav-dropdown {
  color: white;
}

#basic-nav-dropdown > a {
  color: white;
}

.movie-board {
  display: flex;
  flex-wrap: wrap;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.movie-card {
  width: 210px;
  margin: 5px;
  border-radius: 0px;
  border: 3px solid black;
  height: 373px;
}


.card-title {
  white-space: nowrap; 
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis; 
  margin-top: 5px;
  text-align: left;
  margin-bottom: 0;
}

.item {
  background: url(./img/item_bg.gif);
}

.pagination {
  justify-content: center;
  padding: 1rem
}

.footer {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background: url(./img/micro_carbon.png);
}

ul {
  list-style: none;
}